<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <!-- bootstrap cnd -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- stylesheet scripts -->
    <link rel="stylesheet" href="styles/style.css">

    <!-- jquery scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- ajax cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- javascripts scripts -->
    <script src="js/index.js"></script>

</head>
<body>
    <div class="container">
        <h2 class="date"><%= title %></h2>
        <ul class="list-items">
            <% if(itemList.length>0){ %>
                <li class="item item-<%=itemList[0]._id%> top-item"><form class="checkbox-form" action="/delete<%=title%>" method="POST"><input class="checkbox c<%=itemList[0]._id%>" type="checkbox" onchange="this.form.submit()"><input type="hidden" value="<%=itemList[0]._id%>" name="number"></form><%= itemList[0].name%></li>
            <% } for(var i=1;i<itemList.length;i++){%>
                <li class="item item-<%=itemList[i]._id%>"><form class="checkbox-form" action="/delete<%=title%>" method="POST"><input class="checkbox c<%=itemList[i]._id%>"  type="checkbox" onchange="this.form.submit()"><input type="hidden" value="<%=itemList[0]._id%>" name="number"></form><%= itemList[i].name%></li>
            <% } if(itemList.length==0) { %>
                <li class="item  bottom-item top-item">
                    <% if(title=="Today"){%>
                        <form  action="/" method="post">
                    <%}else{%>
                        <form  action="/<%=title%>" method="post">
                    <%}%>
                    <%- include("item")%>
                </li>
            <% } else {%>
                <li class="item bottom-item">
                    <% if(title=="Today"){%>
                        <form   action="/" method="post">
                    <%}else{%>
                        <form   action="/<%=title%>" method="post">
                    <%}%>
                    <%- include("item")%>
                </li>
            <% } %>
        </ul>
        
    </div>
</body>
</html>